/* Login e Cadastro */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-color: #7fd382bb;
    --black: #13131a;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #eee;
}

/* Caixa central */
.login, .cadastro {
    background: var(--black);
    border-radius: 10px;
    width: 400px;
    padding: 40px;
}

/* Títulos */
.login h2 {
    margin-bottom: 30px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}
.cadastro h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
    text-align: center;
}

/* Criar conta com redes */
.social-media {
    display: flex;
    align-content: center;
}
.social-media a {
    text-decoration: none;
}
.social-media img {
    width: 36px;
    margin-left: 4rem;
    margin-bottom: 10px;
}
.social-media a:first-child img {
    margin-left: 42px;
}
.social-media img:hover {
    background: grey;
    border-radius: 15px;
}

/* Separa as redes das caixas de entradas no cadastro */
form span {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}
.alternative span::before, .alternative span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 130px;
    bottom: 50%;
    right: 3px;
    background: rgba(255, 255, 255, 0.3);
}
.alternative span::after {
    left: 3px;
}

/* Caixas para entradas */
.login .box-user, .cadastro .box-user{
    position: relative;
}
.login .box-user input, .cadastro .box-user input {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
}
.login .box-user label, .cadastro .box-user label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.login .box-user input:focus~label, .cadastro .box-user input:focus~label, 
.login .box-user input:valid~label, .cadastro .box-user input:valid~label
{
    top: -20px;
    left: 0;
    color: var(--main-color);
    font-size: 12px;
}

/* Tag esqueceu senha */
.forget {
    font-size: 12px;
    color: #5b6b8b;
    float: right;
    letter-spacing: 1px;
}
/* Segue para cadastro */
.register {
    font-size: 12px;
    color: #5b6b8b;
    float: left;
    letter-spacing: 2px;
    margin-top: 2rem;
}
/* Retorna ao login */
.return {
    font-size: 12px;
    color: #5b6b8b;
    float: left;
    letter-spacing: 2px;
    margin-top: 2rem;
}

/* Botões e animações*/
.btn {
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    color: #03f488;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    margin-top: 20px;
    transition: .5s;
    overflow: hidden;
}
.btn:hover {
    background: #03f488;
    border-radius: 5px;
    color: var(--black);
}
.btn span {
    position: absolute;
    display: block;
}
.btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, #03f488);
    animation: btn1 1s linear infinite;
}
@keyframes btn1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}
.btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03f488);
    animation: btn2 1s linear infinite;
    animation-delay: .20s;
}
@keyframes btn2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}
.btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, #03f488);
    animation: btn3 1s linear infinite;
    animation-delay: .45s;
}
@keyframes btn3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}
.btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03f488);
    animation: btn4 1s linear infinite;
    animation-delay: .70s;
}
@keyframes btn4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}

/*Responsividade*/
@media (max-width: 405px) {
    .login {
        width: 90%;
    }
    .cadastro {
        width: 90%;
    }
}